body {
  font-family: "roboto", sans-serif;
  color: var(--body-color);
  background-color: var(--body-background);
  margin-right: auto;
  margin-left: auto;
}
:root {
  --brand-color: #2196f3;
  --body-background: #ffffff;
  --body-color: #212121;
  --hover-focus-color-link: #2196f3;
  --tel-mail-footer-color: rgba(255, 255, 255, 0.6);
  --tel-mail-header-color: #757575;
  --indent: 30px;
  --items: 4;
  --color-icons: #757575;
  --animation-duration: 250ms;
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0%;
}
.title-group {
  margin-bottom: 50px;
}
.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent) * (var(--items) - 1)) / (var(--items))
  );
}
/* ===============header================= */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.logotype-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}
.logo-studio {
  color: #212121;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.link-active::after {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 4px;
  transform: translate(0, -75%);
  content: "";
  background-size: contain;
  border: 2px solid var(--hover-focus-color-link);
  background: var(--hover-focus-color-link);
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-focus-color-link);
  outline: none;
}

.nav-link,
.header-mail,
.header-tel {
  display: flex;
  padding-top: 31.5px;
  padding-bottom: 31.5px;
  align-items: center;
  transition-property: color, fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-header {
  display: flex;
  align-items: center;
  gap: 50px;
}
.adress-item-header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.icon-mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-tel,
.header-mail {
  fill: var(--color-icons);
  color: var(--tel-mail-header-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--hover-focus-color-link);
  fill: var(--hover-focus-color-link);
  outline: none;
}
/* ==============main============== */
/*-------------- title------------ */
.section-title {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images//overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 700px;
  margin-bottom: 30px;
}
.title-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: auto;
  padding: 8px 30px;
  min-width: 216px;
  min-height: 50px;
  border: none;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-btn:hover,
.title-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* -------------------main-porfolio------------------ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-list {
  text-align: center;
  margin-bottom: 50px;
}
.btn-item {
  display: inline;
}
.filter-all {
  padding: 6px 25px;
}
.filitr-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: #f5f4fa;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filitr-btn:hover,
.filitr-btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}

.projects {
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --items: 3;
  animation-direction: reverse;
}
.projects:hover,
.projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.description-items {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.link-project {
  text-decoration: none;
  list-style: none;
  color: var(--body-color);
}
.title-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-description {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.hidden {
  position: relative;
  overflow: hidden;
}
.thumb-description {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  display: flex;
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --items: 3;
}
.projects:hover .thumb-description,
.projects:focus .thumb-description {
  transform: translateY(0);
}
/* --------------features--------------- */
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}
.features-icon {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------------------skills------------------ */

.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.skills-list {
  display: flex;
}
.skills-photo {
  --items: 3;
}
.thumb-item {
  position: relative;
}
.thumb-skill {
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-bottom: 27px;
  padding-top: 27px;
}

/* ---------------------team------------------- */
.team-section {
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wraper {
  background-color: var(--body-background);
  padding-top: 30px;
  padding-bottom: 30px;
}
.personal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.social-items {
  display: flex;
  justify-content: center;
}
.social-items:not(:first-child) {
  gap: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #afb1b8;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-focus-color-link);
  outline: none;
}
.social-link:hover svg,
.social-link:focus svg {
  fill: var(--body-background);
}
/* ========================Clients================ */
.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  --items: 6;
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item-icon {
  display: block;
}

.client-link:hover,
.client-link:focus {
  fill: var(--hover-focus-color-link);
  border-color: var(--hover-focus-color-link);
  outline: none;
}

/* ========================Clients================ */
/* =======================footer==================== */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container:not(last-child) {
  gap: 95px;
}
.logotype-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--brand-color);
  display: block;
  margin-bottom: 20px;
}
.logo-studio-footer {
  color: #ffffff;
}
.adress-item {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  display: block;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-map {
  color: #ffffff;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-map:hover,
.adress-map:focus {
  color: var(--hover-focus-color-link);
  outline: none;
}

.footer-mail,
.footer-tel {
  color: var(--tel-mail-footer-color);
  outline: none;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-focus-color-link);
  outline: none;
}
.title-social {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-lists {
  display: flex;
}
.social-list {
  width: 44px;
  height: 44px;
}
.link-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}
.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: var(--hover-focus-color-link);
  outline: none;
}
.social-lists {
  display: flex;
}
.social-lists:not(:first-child) {
  gap: 10px;
}
/*=========================backdrop========================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btn-closed {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 7px;
  right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
